/* Reset y fuente global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

/* Estilo del body con scroll funcional pero sin barra visible */
body {
  background: rgb(30, 30, 30);
  color: white;
  overflow-y: scroll; /* permite scroll vertical */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE y Edge antiguos */
}

/* Ocultar barra de scroll en navegadores WebKit (Chrome, Safari, Edge Chromium) */
body::-webkit-scrollbar {
  display: none;
}
